@page
@model IndexModel
@{
    ViewData["Title"] = "Snowboarding - A Thrilling Adventure";
}

<main>
    <header>
        <h1>Welcome to My Snowboarding Hobby Page</h1>
    </header>

    <section>
        <h2>Why I Love Snowboarding</h2>
        <p>Snowboarding is more than just a sport; for me, its a time to let all stress fade away. I get to focus on myself, work on my form and if I am feeling up to it, hit some sick tricks at the park. Although I am not a pro, I love to help others learn this amazing "escape" in the mountains.</p>
        <p>Whether you're carving down fresh powder, mastering new tricks in the park, or just enjoying a peaceful ride, snowboarding offers something for everyone. It's an experience where passion and excitement are shared by all. Stay steezy out there.</p>
    </section>

    <section>
        <h2>Gallery</h2>
        <img src="~/images/IMG_1656.jpg" alt="Snowboarding with friends 2025" style="width:300px; margin:10px;">
        <img src="~/images/IMG_4123.jpg" alt="Snowboarding with friends 2024" style="width:300px; margin:10px;">
    </section>
</main>

